@use "../abstract/media-queries" as mq;
@use "../abstract/vars" as vars;
//INDEX
//section previsualizacion

.preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;

        img {
            padding: 0;
        }
    }

}

.ctn-preview {
    background-color: vars.$clr-secondary;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

}

//section presentacion de personaje

.ctn-presentation {
    background-color: vars.$clr-main;
    background-color: vars.$clr-main;
    height: 100vh;
    width: 100%;
}

.presentation {
    display: flex;
    padding-top: 6rem;
    align-items: center;
    justify-content: center;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;


        .padding-left {
            padding-left: 0;
        }
    }
}


//section Juego

.ctn-game {
    background-color: vars.$clr-secondary;
    background-image: url("../img/estrellas.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;


}

.game {
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

    @include mq.respond-to(mq.$phone) {

        padding-top: 10rem;
    }
}



//HISTORIA
//section personaje

.ctn-character {
    background-color: vars.$clr-secondary;
    height: 80vh;
    width: 100%;

    @include mq.respond-to(mq.$phone) {

        height: 100%;
    }

}

.character {
    display: flex;
    padding-top: 6rem;
    align-items: center;
    justify-content: center;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;

        img {
            padding: 0;
        }
    }
}

//section enemigos

.ctn-enemies {
    background-color: vars.$clr-secondary;
    height: 80vh;
    width: 100%;
}

.enemies {
    display: flex;
    padding-top: 6rem;
    align-items: center;
    justify-content: center;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;
        padding-top: 5rem;


        img {
            padding: 0;
        }
    }
}

//section objetos

.ctn-objects {
    background-color: vars.$clr-secondary;
    height: 80vh;
    width: 100%;

    @include mq.respond-to(mq.$phone) {
        height: 100%;
    }
}

.objects {
    display: flex;
    padding-top: 6rem;
    align-items: center;
    justify-content: center;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;
        padding-bottom: 5rem;

        img {
            padding: 0;
        }
    }
}

.img-objects {
    width: 15rem;
    height: 13rem;
    padding-left: 8rem;
    padding-right: 8rem;

}

//section escenario

.ctn-scenery {
    background-color: vars.$clr-secondary;
    height: 100vh;
    width: 100%;
}

.scenery {
    align-items: center;
    justify-content: center;

    @include mq.respond-to(mq.$phone) {
        flex-direction: column;
        align-items: center;


        img {
            padding: 0;
        }
    }

}

.img-scenery {
    padding-left: 17em;
    width: 58rem;
    height: 29rem;
    padding-bottom: 4rem;

    @include mq.respond-to(mq.$phone) {
        width: 20rem;
        height: 10rem;
    }
}

